.header__title {
    color: #000;
    background-color: #fff;
    padding: 10px;
    margin-top: 0px;
    border-bottom: 3px solid black;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}