.table {
    border-collapse: collapse;
    margin: 20px auto 50px;
    width: 80%;
}

.table__caption {
    margin: 20px;
    font-weight: 700;
}

.table__cell {
    border: 1px solid #222;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.table__cell--header {
    font-size: 13px;
}

.table__row:hover {
    background: #f8f8f8;
}